@page
@using Merit.Data.Models
@using Merit.CompanyService
@using Merit.PersonalInfoService
@model Merit.Web.Pages.AutomaticMatchModel
@{
    ICompanyService companyService = new CompanyService();
    IProfileService profileService = new ProfileService();
}
<h3>Matchning</h3>
<hr />


@if (Model.AUser is PersonalUser)
{
    <div class="justify-content-between mb-2 col-12">Utifrån de meriter och wants du har uppgett, matchas du här med passande företag och jobbannonser.</div>
    <br />
    <div class="row">
        <div class="col-md-5 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Företag</h4>
                    </div>
                    <p></p>
                    <p class="card-text">
                        @foreach (var item in Model.ListOfMatchingCompanyUsers)
                        {
                            <a href="/CompanyInfoPage?companyId=@item.CompanyUserId&&Matching=true">@companyService.Get(item.CompanyUserId).CompanyName</a>
                        }
                    </p>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-5 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Annonser</h4>
                    </div>
                    <p></p>
                    <p class="card-text">
                        @foreach (var add in Model.ListOfMatchingAdvertisiment)
                        {
                            <div>
                                <a href="/ShowJobAdvertisement?advertisementid=@add.CompanyAdvertisementId&&Matching=true">@add.CompanyAdvertisementId - @add.Profession</a>
                            </div>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.AUser is CompanyUser)
{
    <div class="justify-content-between mb-2 col-12">Utifrån de meriter och wants ni har uppgett för företaget, matchas ni här med passande personer.</div>
    <br />
    <div class="row">
        <div class="col-md-5 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="card-header">
                        <h4 class="card-title">Personer</h4>
                    </div>
                    <p></p>
                    <p class="card-text">
                        @foreach (var item in Model.ListOfMatchingPersonalUsers)
                        {
                            <a href="/PersonalInfoPage?personalId=@item.PersonalUserId&&Matching=true">@profileService.Get(item.PersonalUserId).FirstName @profileService.Get(item.PersonalUserId).LastName</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
}
