@page
@model Merit.Web.Pages.CompanyInfoPageModel
@{
}
<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-4">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/300x300" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <hr />
                <h3>Välkommen, @Model.CompanyInfo.CompanyName!</h3>
                <p>Här kan du uppdatera din profilinformation, lägga till meriter samt lägga till Wants.</p>
                <a class="btn btn-primary" href="#">Ladda upp profilbild</a>
                <p></p>
                <hr />
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Profil</h4>
                        </div>s
                        <p></p>
                        <div>Företagsnamn: @Model.CompanyInfo.CompanyName</div>
                        <div>Organisationsnummer: @Model.CompanyInfo.OrgNumber</div>
                        <hr />
                        <div>Email: @Model.AUser.Email</div>
                        <div>Tele: @Model.CompanyInfo.Phone</div>
                        <hr />
                        <div>Gata: @Model.CompanyInfo.Street</div>
                        <div>Postnr: @Model.CompanyInfo.ZipCode</div>
                        <div>Ort: @Model.CompanyInfo.City</div>
                    </div>
                    <div class="card-footer">
                        <a href="/EditCompanyInfo" class="btn btn-primary btn-sm">Uppdatera profil</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Meriter</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            @foreach (var merit in Model.CompanyMerits)
                            {
                                <div>
                                    Kategori: @merit.Category;
                                </div>
                                <div>
                                    Underkategori: @merit.SubCategory
                                </div>
                                <div>
                                    Beskrivning: @merit.Description
                                </div>
                                <hr />
                            }
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/AddMeritBusiness" class="btn btn-primary btn-sm">Lägg till ny merit</a>
                        <a href="/EditCompanyMerits" class="btn btn-primary btn-sm">Redigera meriter</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Wants</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            <ul>
                                @foreach (var x in Model.CompanyWants)
                                {
                                    <li>
                                        @x.Want
                                    </li>

                                }
                            </ul>

                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-sm">Redigera Wants</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->
        <!-- /.container -->
        <!-- Footer -->
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>