@page
@model Merit.Web.Pages.CompanyInfoPageModel
@{
}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">MERIT</span>
        <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/merit2.png" alt="" /></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/CompanyInfoPage">Företagssida</a></li>

            <li class="nav-item"><a class="nav-link js-scroll-trigger" asp-page="/LogOut">Logga ut</a></li>

        </ul>
    </div>
</nav>
<body>
    <!-- Page Content -->
    <div class="container justify-content-center">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-4">
                <img height="300" width="300" src="@Model.ImageUrl" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <hr />
                <h3>Välkommen, @Model.CompanyInfo.CompanyName!</h3>
                <p>Här kan du uppdatera din profilinformation, lägga till meriter samt lägga till Wants.</p>
                <div>
                    <form method="post"
                          enctype="multipart/form-data">
                        <input type="file" id="file1"
                               name="file1" />
                        <button type="submit" class="btn btn-primary">Ladda upp bild</button>
                    </form>
                </div>

                <p></p>
                <hr />
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Profil</h4>
                        </div>
                        <p></p>
                        <div>Företagsnamn: @Model.CompanyInfo.CompanyName</div>
                        <div>Organisationsnummer: @Model.CompanyInfo.OrgNumber</div>
                        <hr />
                        <div>Email: @Model.AUser.Email</div>
                        <div>Tele: @Model.CompanyInfo.Phone</div>
                        <hr />
                        <div>Gata: @Model.CompanyInfo.Street</div>
                        <div>Postnr: @Model.CompanyInfo.ZipCode</div>
                        <div>Ort: @Model.CompanyInfo.City</div>
                    </div>
                    <div class="card-footer">
                        <a href="/EditCompanyInfo" class="btn btn-primary btn-sm">Uppdatera profil</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Annonser</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            @foreach (var add in Model.CompanyAdvertisements)
                            {
                                <div>
                                    <a href="/ShowJobAdvertisement?advertisementid=@add.CompanyAdvertisementId">@add.CompanyAdvertisementId - @add.Profession</a>
                                </div>
                            }
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/AddJobAdvertisement" class="btn btn-primary btn-sm">Lägg till ny annons</a>
                        <a href="/EditCompanyAdvertisement" class="btn btn-primary btn-sm">Redigera annonser</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <!-- Content Row -->
        <div class="row ">
            <!-- /.col-md-4 -->
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Meriter</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            @foreach (var merit in Model.CompanyMerits)
                            {
                                <div>
                                    Kategori: @merit.Category;
                                </div>
                                <div>
                                    Underkategori: @merit.SubCategory
                                </div>
                                <div>
                                    Beskrivning: @merit.Description
                                </div>
                                <hr />
                            }
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="/AddMeritBusiness" class="btn btn-primary btn-sm">Lägg till ny merit</a>
                        <a href="/EditCompanyMerits" class="btn btn-primary btn-sm">Redigera meriter</a>
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Wants</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            <ul>
                                @foreach (var x in Model.CompanyWants)
                                {
                                    <li>
                                        @x.Want
                                    </li>

                                }
                            </ul>

                        </p>
                    </div>
                    <div class="card-footer">

                        <a href="/AddWantCompany" class="btn btn-primary btn-sm">Lägg till Want</a>
                        @*<a href="#" class="btn btn-primary btn-sm">Redigera Wants</a>*@

                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div><!-- /.container -->
        <!-- Footer -->
        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>
</body>