@page
@model Merit.Web.Pages.CompanySearchPageModel
@{
}

@*<h3>Hitta medarbetare</h3>
<form method="get">
    <div>
        Sök Meriter: <input type="text" asp-for="SearchMerit" />
        <div>
            <button type="submit">Sök</button>
        </div>
        <hr />
        <div>
            Enter required skills: <input type="text" asp-for="SearchSkills" />
        </div>
        <button asp-page-handler="">Ur funktion</button>
        <hr />
        <div>
            Enter required education: <input type="text" asp-for="SearchEducation" />
        </div>
        <button asp-page-handler="">Ur funktion</button>
    </div>
</form>
<hr />*@
@*<ol>
    @foreach (var x in Model.TheOne)
    {
        <hr />
        <div>@x.FirstName @x.LastName</div>
        <div> @x.City @x.Street</div>
        <br />
        <div>-Meritförteckning-</div>
        <br />
        @foreach (var y in x.City)
        {
            <div>__________________</div>
            <li>
                <div>@y.Category</div>
                <div>@y.Description</div>
            </li>
        }
        <br />
    }
</ol>*@