@page
@model Merit.Web.Pages.EditPersonalInfoModel
@{
}
<h3>Uppdatera profilinformation</h3>
<hr />
<form method="post">

    <div class="justify-content-between mb-2">
        <label for="firstname">Förnamn</label>
        <input asp-for="APerson.FirstName" type="text" value="@Model.APerson.FirstName" />
    </div>
    <div class="justify-content-between mb-2">
        <label for="lastname">Efternamn</label>
        <input asp-for="APerson.LastName" type="text" value="@Model.APerson.LastName" />
    </div>
    
    <div class="justify-content-between mb-2">
        <label for="dateofbirth">Födelseår</label>
        <input asp-for="APerson.DateOfBirth" type="date" value="@Model.APerson.DateOfBirth"  />
    </div>
    <div class="justify-content-between mb-2">
        <label for="street">Gatuadress</label>
        <input asp-for="APerson.Street" type="text" value="@Model.APerson.Street"/>
    </div>
    <div class="justify-content-between mb-2">
        <label for="zipcode">Postnummer</label>
        <input asp-for="APerson.ZipCode" type="text" value="@Model.APerson.ZipCode" />
    </div>
    <div class="justify-content-between mb-2">
        <label for="city">Ort</label>
        <input asp-for="APerson.City" type="text" value="@Model.APerson.City"/>
    </div>
    <div class="justify-content-between mb-2">
        <label for="phone">Telefon</label>
        <input asp-for="APerson.PhoneNumber" type="text" value="@Model.APerson.PhoneNumber" />
    </div>
    <div class="justify-content-between mb-2">
        <input type="submit" name="save" value="Spara" />
    </div>
</form>
<div>@Model.Information</div>