@page
@model Merit.Web.Pages.EditPersonalMeritsModel
@{
}
<main class="grid">
    <div class="item1">
        <form method="post">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5" row="10">
                        <ol>
                            <h3>Merits</h3>
                            @foreach (var merit in Model.MeritList)
                            {
                                <hr />
                                <li>@merit.Category</li>
                                <li>@merit.SubCategory</li>
                                <li>@merit.Description</li>
                                <li>@merit.Duration</li>
                                <li><a href="?SelectedMeritID=@merit.PersonalMeritId">Select</a></li>
                            }
                            <hr />
                        </ol>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="item2" style="align-items:center">
        <div class="col-lg-3 sticky-top" style="align-content:center" row="10">
            <input type="hidden" value="@Model.SelectedMeritID" asp-for="PMerit.PersonalMeritId" />
            <div><input type="text" value="@Model.CategoryText" asp-for="PMerit.Category" /></div>
            <div><input type="text" value="@Model.SubCategoryText" asp-for="PMerit.SubCategory" /></div>
            <div><input type="text" value="@Model.DescriptionText" asp-for="PMerit.Description" /></div>
            <div><input type="text" value="@Model.DurationText" asp-for="PMerit.Duration" /></div>
            <span>
                <button type="submit" asp-page-handler="Edit">Edit</button>
                <button type="submit" asp-page-handler="Delete">Delete</button>
            </span>
        </div>
    </div>
</main>