@page
@model Merit.Web.Pages.PersonalinfoPageModel
@using Merit.ProfileService
@{
}

<h3>Hej, @Model.FirstName</h3>
<div>
    <div>
        Namn: @Model.FirstName @Model.LastName
    </div>
    <div>
        Födelsedatum: @Model.DateOfBirth
    </div>
    <hr />
    <div>
        Email: @Model.Email
    </div>
    <div>
        Tele#: @Model.Phone
    </div>
    <hr />
    <div>
        Gata: @Model.Street
    </div>
    <div>
        Postkod: @Model.Zipcode
    </div>
    <div>
        Stad: @Model.City
    </div>
    <button onclick="window.location.href='/EditPersonalInfo'">Uppdatera Personlig Information</button>
</div>
<div>
    Meriter
</div>
<div>
    <ol>
        @foreach (var x in Model.personalMerits)
	    {
		 <li>
             @x.Category;
         </li>
         <li>
             @x.SubCategory
         </li>
         <li>
             @x.Description
         </li>
	    }
    </ol>
    <button>Lägg till merit</button>
</div>
<hr />
