@page
@model Merit.Web.Pages.PersonalinfoPageModel
@using Merit.PersonalInfoService
@{
}

<h3>Hej, @Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName</h3>
<div class="justify-content-between mb-2">
    <div class="justify-content-between mb-2">
        Namn: @Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName
    </div>
    <div>
        Födelsedatum: @Model.PersonalInfo.DateOfBirth
    </div>
    <hr />
    <div>
        Email: @Model.AUser.Email
    </div>
    <div>
        Tele#: @Model.PersonalInfo.PhoneNumber
    </div>
    <hr />
    <div>
        Gata: @Model.PersonalInfo.Street
    </div>
    <div>
        Postkod: @Model.PersonalInfo.ZipCode
    </div>
    <div>
        Stad: @Model.PersonalInfo.City
    </div>
    <div class="justify-content-between mb-2">
        <button onclick="window.location.href='/EditPersonalInfo'">Uppdatera Personlig Information</button>
    </div>
</div>
<div class="justify-content-between mb-2">
    Meriter
</div>
<div class="justify-content-between mb-2">
    <ol>
        @foreach (var x in Model.personalMerits)
        {

            <div>
                @x.Category;
            </div>
            <div>
                @x.SubCategory
            </div>
            <div>
                @x.Description
            </div>
            <div>
                @x.Description
            </div>
            <p></p>
        }
    </ol>
    <div class="justify-content-between mb-2">
        <button>Lägg till merit</button>
        </div>
    </div>
    <hr />
