@page
@model Merit.Web.Pages.PersonalinfoPageOtherWievsModel
@using Merit.PersonalInfoService
@{
}

<body>
    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-4">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/300x300" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <hr />
                <h3>Namn @*@Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName*@!</h3>
                
                <p></p>
                <hr />
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
       
        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Profil</h4>
                        </div>
                        <p></p>

                        <div>Namn: @*@Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName*@</div>

                        <hr />

                        <div>Email: @*@Model.AUser.Email*@</div>

                        <div>Tele: @*@Model.PersonalInfo.PhoneNumber*@</div>


                        <hr />

                    </div>
                    <div class="card-footer">
                      
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Meriter</h4>
                        </div>
                        <p></p>
                        <p class="card-text">
                            @*@foreach (var x in Model.personalMerits)
            {

                <div>
                    Kategori: @x.Category;
                </div>
                <div>
                    Underkategori: @x.SubCategory
                </div>
                <div>
                    Beskrivning: @x.Description
                </div>
                <div>
                    Varaktighet: @x.Duration
                </div>
                <hr />
            }*@
                        </p>
                    </div>
                    <div class="card-footer">
                       
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Wants</h4>
                        </div>
                        <p></p>
                        <p class="card-text">....</p>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
            </div>
            <!-- /.col-md-4 -->

        </div>
        <!-- /.row -->

    
    <!-- /.container -->
    <!-- Footer -->
   

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>