@page
@model Merit.Web.Pages.PersonalinfoPageModel
@using Merit.PersonalInfoService
@{
}

<h3>Hej, @Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName</h3>
<div>
    <div>
        Namn: @Model.PersonalInfo.FirstName @Model.PersonalInfo.FirstName
    </div>
    <div>
        Födelsedatum: @Model.PersonalInfo.DateOfBirth
    </div>
    <hr />
    <div>
        Email: @Model.AUser.Email
    </div>
    <div>
        Tele#: @Model.PersonalInfo.PhoneNumber
    </div>
    <hr />
    <div>
        Gata: @Model.PersonalInfo.Street
    </div>
    <div>
        Postkod: @Model.PersonalInfo.ZipCode
    </div>
    <div>
        Stad: @Model.PersonalInfo.City
    </div>
    <button onclick="window.location.href='/EditPersonalInfo'">Uppdatera Personlig Information</button>
</div>
<div>
    Meriter
</div>
<div>
    <ol>
        @foreach (var x in Model.personalMerits)
	    {
		 <li>
             @x.Category;
         </li>
         <li>
             @x.SubCategory
         </li>
         <li>
             @x.Description
         </li>
	    }
    </ol>
    <button>Lägg till merit</button>
</div>
<hr />
