@page
@using Microsoft.AspNetCore.Identity 
@model Merit.Web.Pages.ShowJobAdvertisementModel
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
}

<body>
    <div class="container">
        <div class="row">
            @if (Model.SearchTerm != null)
            {
                <div class="col-md-8 mb-5">
                    <a href="/AdvertisementSearchPage?freetext=@Model.SearchTerm&&SearchType=@Model.SearchType">Tillbaka till söksidan</a>

                </div>
            }
        </div>
        <div class="row">
            <div class="col-md-8 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title text-center">@Model.CompanyInfo.CompanyName: </h5>
                            <h3 class="card-title text-center">@Model.CompanyAdvertisement.Profession </h3>
                        </div>
                        <div class="row m-2">
                            <br />
                            <div class="col-md-5">
                                <p>Placering:</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.CompanyAdvertisement.Place</p>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Omfattning:</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.CompanyAdvertisement.Extent</p>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Tid/längd:</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.CompanyAdvertisement.Duration</p>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Anställningsform:</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.CompanyAdvertisement.FormOfEmployment</p>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Information om tjänsten:</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.CompanyAdvertisement.Information</p>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Löneinformation:</p>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.CompanyAdvertisement.Salary</p>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Företagets/tjänstens meriter:</p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    @foreach (var merit in Model.AdvertisementMerits)
                                    {
                                        <li>@merit.Category - @merit.SubCategory - @merit.Description</li>

                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-md-5">
                                <p>Företagets/tjänstens wants:</p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    @foreach (var want in Model.AdvertisementWants)
                                    {
                                        <li>@want.Want</li>

                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="card-footer">

                            @if (signInManager.IsSignedIn(User) && Model.CompanyUser && Model.AUser.CompanyUserId == Model.CompanyAdvertisement.CompanyUserId )
                            {
                                <a href="/CompanyInfoPage" class="btn btn-primary btn-sm">Tillbaka till förestagssida</a>
                                <a href="/EditCompanyAdvertisement?selectedadvertisementid=@Model.CompanyAdvertisement.CompanyAdvertisementId" class="btn btn-primary btn-sm">Redigera annonsen</a>
                            }
                            else
                            {
                                <a href="/CompanyInfoPage" class="btn btn-primary btn-sm">Besök förestagssida</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>